In [25]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
import pickle

In [4]:
dfcars = pd.read_csv("cars.csv")
dforder = pd.read_csv("orders.csv")
dforder_car = pd.read_csv("orders_cars.csv")

In [7]:
df = dfcars.merge(dforder_car, on="car_id")
df = df.merge(dforder, on = "order_id")
print(dforder_car.count())
print(df.count())
df.head()

order_id    2500
car_id      2500
dtype: int64
car_id                  2500
car_price               2500
car_quantity            2500
car_year                2500
car_used                2500
car_mm                  2500
car_color               2500
order_id                2500
order_timestamp         2500
order_payment           2500
order_address_num       2500
order_address_street    2500
order_address_state     2500
order_zip               2500
order_completed         2500
dtype: int64

,car_id,car_price,car_quantity,car_year,car_used,car_mm,car_color,order_id,order_timestamp,order_payment,order_address_num,order_address_street,order_address_state,order_zip,order_completed
0,5,52648,42,2010,True,Honda Civic,White,188,2024-01-06 14:48:36,5798790280491512,923,Main,Virgin Islands,94326,False
1,7,104268,23,2022,True,Dodge Challenger,Green,58,2024-05-15 14:48:51,3345003073901662,395,Wade Meadow Lane,Georgia,88586,False
2,16,47430,13,2013,True,Dodge Challenger,Red,83,2024-04-20 14:48:14,6726299949321892,938,Sherwood Street,New Hampshire,26594,False
3,21,30186,48,2004,True,Toyota Sienna,Light Blue,20,2024-06-22 14:48:16,9505313359160796,453,Waalker Loop,Massachusetts,72830,False
4,23,70824,4,2003,True,Honda Civic,Light Blue,349,2023-07-29 14:48:56,3307495979129267,953,Swallow Court,Pennsylvania,25373,True

In [8]:
df.dtypes

car_id                   int64
car_price                int64
car_quantity             int64
car_year                 int64
car_used                  bool
car_mm                  object
car_color               object
order_id                 int64
order_timestamp         object
order_payment            int64
order_address_num        int64
order_address_street    object
order_address_state     object
order_zip                int64
order_completed           bool
dtype: object

In [60]:
#pipe = Pipeline([('encoder', OneHotEncoder()), ('NN', NearestNeighbors())])
import json

In [71]:
feature_cols = ['car_year', 'car_used','car_mm','car_color']
X = dfcars[feature_cols]
enc = OneHotEncoder(handle_unknown="ignore")
enc.fit(X)
d2 = enc.transform(X)
nn = NearestNeighbors()
nn.fit(d2)
nnresults = nn.kneighbors(d2[0,], n_neighbors = 3)[1]
print((nnresults.tolist()))
# for item in nnresults[1]:
#     print(dfcars.iloc[item,])

[[0, 625, 4643]]

In [72]:
# Specify the file path to save the pipeline
file_path = 'trained_model.pkl'
file_path2 = 'encoder.pkl'

# Save the pipeline to disk
with open(file_path, 'wb') as file:
    pickle.dump(nn, file)

with open(file_path2, 'wb') as file:
    pickle.dump(enc, file)